body {
  font-size: .875rem;
  color: #333;
}

main {
  overflow-x: scroll;
}

.navbar-brand {
  padding-left: 14px;
  a, a:hover {
    color: inherit;
    text-decoration: none;
  }
}

#top_nav {
  li {
    margin-right: 4px;
  }
  img {
    max-height: 20px;
  }
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  margin-top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.has-error {
  .help-block {
    color: red;
  }

  label {
    color: red;
  }

  .form-control {
    border-color: red;
  }
}

dl.row {
  margin-bottom: 0;
}

.th-sortable {
  a, a:hover {
    text-decoration: none;
  }
  .sortable-icons {
    margin-left: 8px;
  }
}

#page_toolbar {
  .btn {
    margin-bottom: 4px;
  }
}

@media (min-width: 768px) {
  #side_navigation.collapse {
    display: block;
  }
  .sidebar-sticky {
    margin-top: 40px;
  }
}
