= content_tag_for(:tr, remote_phone_call_event) do
  %td
    = link_to(remote_phone_call_event.id, show_location(remote_phone_call_event))
  %td
    = link_to(remote_phone_call_event.phone_call_id, dashboard_phone_call_path(remote_phone_call_event.phone_call_id))
  %td
    = local_time(remote_phone_call_event.created_at)
