/* line 2, app/assets/stylesheets/_devise_page.scss */
.devise-page .card {
  margin-top: 200px;
}

@media (max-width: 575.98px) {
  /* line 8, app/assets/stylesheets/_devise_page.scss */
  .devise-page .card {
    margin-top: 100px;
  }
}

@media (max-width: 767.98px) {
  /* line 15, app/assets/stylesheets/_devise_page.scss */
  .devise-page .card {
    margin-top: 150px;
  }
}
