/* line 1, app/assets/stylesheets/_home.scss */
#home {
  font-size: 14px;
}

@media (min-width: 768px) {
  /* line 5, app/assets/stylesheets/_home.scss */
  #home html {
    font-size: 16px;
  }
}

/* line 10, app/assets/stylesheets/_home.scss */
#home .container {
  max-width: 960px;
}

/* line 14, app/assets/stylesheets/_home.scss */
#home .pricing-header {
  max-width: 700px;
}

/* line 18, app/assets/stylesheets/_home.scss */
#home .card-deck .card {
  min-width: 220px;
}

/* line 22, app/assets/stylesheets/_home.scss */
#home .border-top {
  border-top: 1px solid #e5e5e5;
}

/* line 23, app/assets/stylesheets/_home.scss */
#home .border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

/* line 25, app/assets/stylesheets/_home.scss */
#home .box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}
