- content_for(:page_actions) do
  - if callout
    = link_to(translate(:"titles.callout_populations.new"), new_dashboard_callout_batch_operation_callout_population_path(callout), class: 'btn btn-outline-success')

- content_for(:resources_table) do
  = render("shared/resources_table", resource_class: BatchOperation::Base, columns: [:type, :status, :created_at], partial: "shared/batch_operation")

= render("shared/index")
