/////////////////////
// COLORS
////////////////////

$brand-color: #06D19C;
$nav-bg-color: #463AFF;

/////////////////////
// BACKGROUND COLORS
////////////////////

$main-bg: #6C63FF;
$nav-bg: $nav-bg-color;
$nav-active-bg: $brand-color;
$nav-subitem-bg: $nav-bg-color;
$lang-select-pressed-bg: $brand-color;
$lang-select-active-bg: $brand-color;
$nav-active-parent-bg: $nav-bg-color;

/////////////////////
// TEXT COLORS
////////////////////

$nav-text: #666;
$nav-active-text: #6C63FF ;
$nav-active-parent-text: #333C44;
