- content_for(:button_toolbar) do
  = render("shared/disabled_button", url: dashboard_access_tokens_path, button_text: translate(:"titles.access_tokens.index"), count: resources.count)
  .btn-group.mr-2{ role: 'group' }
    = link_to(translate(:"titles.access_tokens.create"), dashboard_access_tokens_path, class: 'btn btn-outline-success', method: "post")

- content_for(:resources_table) do
  = render("shared/resources_table", resource_class: AccessToken, columns: [:token, :created_at, :actions])

= render("shared/index")
