= page_title(title: title) do
  = render("shared/new_resource_page_action", path: new_dashboard_access_token_path)

- content_for(:resources_table) do
  = render("shared/resources_table", resource_class: AccessToken, columns: [:token, :permissions, :created_at], unsortable_columns: [:token, :permissions])

= render("shared/index")
