%table.table.table-hover.table-bordered
  %thead.thead-light
    %tr
      %th #
      %th Token
      %th Created at
  %tbody
    - @access_tokens.each_with_index do |access_token, index|
      %tr
        %td= index + 1
        %td= access_token.token
        %td= access_token.created_at
