.col-lg-10.col-xl-8
  #button_toolbar.btn-toolbar.mb-2{ role: 'toolbar' }
    = render("shared/disabled_button", url: edit_dashboard_sensor_rule_path(resource), button_text: translate(:"titles.sensor_rules.edit"), button_class: "btn-outline-success")
  = render "form", url: dashboard_sensor_rule_path(resource)
