.btn-group.mr-2{ role: 'group' }
  = render("shared/button_link", url: url, button_text: button_text, class: "disabled", html_options: {"aria-disabled": true}, button_class: local_assigns[:button_class])
