.nested-fields
  .form-row
    .col
      = f.input(:key, placeholder: KeyValueField.human_attribute_name(:key), label: false)
    .col
      = f.input(:value, placeholder: KeyValueField.human_attribute_name(:value), label: false)
    .col
      = link_to_remove_association(f, class: "btn btn-danger")
