%nav.navbar.navbar-dark.sticky-top.bg-dark.navbar-expand.p-0.justify-content-between
  .navbar-brand
    %button.btn.btn-dark.d-md-none{"aria-controls" => "side_navigation", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#side_navigation", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    Somleng SCFM

  %ul.navbar-nav.px-3
    %li
      %span.oi.oi-person{"aria-hidden" => "true", :title => "person"}
      .btn-group
        %button.btn.btn-secondary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
          = octicon "person"
        .dropdown-menu.dropdown-menu-right
          = link_to edit_user_registration_path do
            %button.dropdown-item{:type => "button"} Change Password
          = link_to destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' } do
            %button.dropdown-item{:type => "button"} Sign Out
