#related_links.btn-group{role: "group"}
  %button.btn.btn-outline-info.dropdown-toggle{"aria-expanded" => "false", "data-coreui-toggle" => "dropdown", "type" => "button"}
    = t(:"breadcrumbs.defaults.more")
  .dropdown-menu
    = yield
