%main.inner.cover{:role => "main"}
  %h1.cover-heading Homepage
  %p.lead Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.
  %p.lead
    %a.btn.btn-lg.btn-secondary{:href => "#"} Learn more
