- content_for(:page_actions) do
  = link_to(translate(:"titles.callouts.new"), new_dashboard_callout_path, class: 'btn btn-outline-success')

- content_for(:resources_table) do
  = render("shared/resources_table", resource_class: Callout, columns: [:status, :call_flow_logic, :created_at])

= render("shared/index")
