- content_for(:button_toolbar) do
  = render("shared/disabled_button", url: dashboard_callouts_path, button_text: translate(:"titles.callouts.index"))
  = link_to(translate(:"titles.callouts.new"), new_dashboard_callout_path, class: 'btn btn-outline-success')

- content_for(:resources_table) do
  = render("shared/resources_table", resource_class: Callout, columns: [:status, :province, :created_at])

= render("shared/index")
