.col-lg-10.col-xl-8
  #button_toolbar.btn-toolbar.mb-2{ role: 'toolbar' }
    = render("shared/disabled_button", url: edit_dashboard_sensor_path, button_text: translate(:"titles.sensors.edit"), button_class: "btn-outline-primary", badge_class: "badge-primary")
  = render "form"
