= page_title(title: title) do
  = render("shared/new_resource_page_action", path: new_user_invitation_path)

- content_for(:resources_table) do
  = render("shared/resources_table", resource_class: User, columns: [:email, :invitation_accepted_at, :last_sign_in_at, :created_at])

= render("shared/index")
