%table.table.table-hover.table-bordered
  %thead.thead-light
    %tr
      %th #
      %th Email
      %th Last signned in
  %tbody
    - @user.each_with_index do |user, index|
      %tr
        %td= index + 1
        %td= user.email
        %td= user.last_sign_in_at
