= content_tag_for(:tr, callout_participation) do
  %td
    = link_to(callout_participation.id, show_location(callout_participation))
  %td
    = link_to(callout_participation.contact_id, dashboard_contact_path(callout_participation.contact_id))
  %td
    = callout_participation.created_at
