- content_for(:page_actions) do
  - if batch_operation.may_queue?
    = link_to(translate(:"titles.batch_operations.queue"), dashboard_batch_operation_batch_operation_events_path(batch_operation, event: :queue), method: :post, class: 'btn btn-outline-success', data: { confirm: translate(:"titles.actions.data_confirm") })
  - if batch_operation.may_requeue?
    = link_to(translate(:"titles.batch_operations.requeue"), dashboard_batch_operation_batch_operation_events_path(batch_operation, event: :requeue), method: :post, class: 'btn btn-outline-warning', data: { confirm: translate(:"titles.actions.data_confirm") })

- content_for(:resources_table) do
  = render("shared/resources_table", resource_class: Contact, columns: [:msisdn, :created_at], partial: "dashboard/contacts/contact")

= render("shared/index")
