- content_for(:resources_table) do
  = render("shared/resources_table", resource_class: PhoneCall, columns: [:msisdn, :direction, :status, :created_at], unsortable_columns: [:direction])

= render("shared/index")
