.devise-page {
  .card {
    margin-top: 200px;
  }

  // Extra small devices (portrait phones, less than 576px)
  @media (max-width: 575.98px) {
    .card {
      margin-top: 100px;
    }
  }

  // Small devices (landscape phones, less than 768px)
  @media (max-width: 767.98px) {
    .card {
      margin-top: 150px;
    }
  }

  // Medium devices (tablets, less than 992px)
  @media (max-width: 991.98px) {

  }

  // Large devices (desktops, less than 1200px)
  @media (max-width: 1199.98px) {

  }
}
