.col-12
  .btn-toolbar{ role: 'toolbar' }
    .btn-group.mr-2{ role: 'group' }
      = button_to 'New contact', new_dashboard_contact_path, class: ' btn btn-outline-dark', method: :get
  %br
.col-12
  %table.table.table-hover.table-bordered
    %thead.thead-light
      %tr
        %th #
        %th Number
        %th Created at
    %tbody
      - @contacts.each_with_index do |contact, index|
        %tr
          %td= index + 1
          %td= link_to contact.msisdn, dashboard_contact_path(contact)
          %td= contact.created_at
